<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegServlet</servlet-name>
  	<display-name>RegServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.RegServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin</servlet-name>
  	<display-name>Admin</display-name>
  	<description></description>
  	<servlet-class>servlets.Admin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteUser</servlet-name>
  	<display-name>DeleteUser</display-name>
  	<description></description>
  	<servlet-class>servlets.DeleteUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditUser</servlet-name>
  	<display-name>EditUser</display-name>
  	<description></description>
  	<servlet-class>servlets.EditUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveUser</servlet-name>
  	<display-name>SaveUser</display-name>
  	<description></description>
  	<servlet-class>servlets.SaveUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Find</servlet-name>
  	<display-name>Find</display-name>
  	<description></description>
  	<servlet-class>servlets.Find</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Submit</servlet-name>
  	<display-name>Submit</display-name>
  	<description></description>
  	<servlet-class>servlets.Submit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Scorelist</servlet-name>
  	<display-name>Scorelist</display-name>
  	<description></description>
  	<servlet-class>servlets.Scorelist</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>scorelist_up</servlet-name>
  	<display-name>scorelist_up</display-name>
  	<description></description>
  	<servlet-class>servlets.scorelist_up</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>scorelist_down</servlet-name>
  	<display-name>scorelist_down</display-name>
  	<description></description>
  	<servlet-class>servlets.scorelist_down</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegServlet</servlet-name>
  	<url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin</servlet-name>
  	<url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteUser</servlet-name>
  	<url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditUser</servlet-name>
  	<url-pattern>/EditUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveUser</servlet-name>
  	<url-pattern>/SaveUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Find</servlet-name>
  	<url-pattern>/Find</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Submit</servlet-name>
  	<url-pattern>/Submit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Scorelist</servlet-name>
  	<url-pattern>/Scorelist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>scorelist_up</servlet-name>
  	<url-pattern>/scorelist_up</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>scorelist_down</servlet-name>
  	<url-pattern>/scorelist_down</url-pattern>
  </servlet-mapping>
</web-app>
